.cardContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width : 100%;
  height : 100%;
  border-radius: 15px;
  background: #fff;
  box-shadow: 0px 0px 8px 0px rgba(3,3,3,0.6);
}

.cardName{
  background-color: transparent;
  color : #030303;
  height : 10%;
  font-size : 30px;
  padding : 30px;
}

.cardDescription{
  background-color: transparent;
  height: 60%;
  color : #030303;
  font-size : 20px;
  padding : 0 30px 0 30px;
}

.cardKeyword{
  background-color: transparent;
  height: 30%;
  color : #030303;
  font-size : 18px;
  padding : 0 30px 0 30px;
}
